TouchGFX/
Debug/
Backup_20260218_v0.1.81_to_v0.1.82/
Backup_20260219_v0.1.82_to_v0.1.83/
Backup_20260219_v0.1.83_to_v0.1.84/
Binary/
build/
Docs/
firmware/
github/
pdb/
profiles/
utr/
CloudeCode*
chatgpt*
login*
test_results_*
*Debug.launch
SUMMARY.md
LICENSE.txt
!kit_screen.jpg
"TestF Debug.launch"
*.chm
*.out
*.rb
*.temp
*.part
*.bak*
*.cache
*.xlsx
*.xml
*.xsd
*.res
*.ico
*.rc
*.ttf
*.otf
*.ewd
*.ewp
*.eww
*.icf
*.old
*.o
*.cu
*.cyclo
*.d
*.lst
*.list
*.sct
*.html
*.js
*.css
*.png
*.gif
*.zip
*.txt
*.uvoptx
*.uvprojx
*.r123092

